OCR_LANG=pl
OCR_VERSION=PP-OCRv6
OCR_DEVICE=cpu
OCR_MAX_FILE_MB=12
OCR_ENABLE_UNWARPING=true
OCR_ENABLE_ORIENTATION=true
OCR_TEXT_SCORE_THRESHOLD=0.20
BLAST_AUTO_ACCEPT_THRESHOLD=0.94
BLAST_MANUAL_REVIEW_THRESHOLD=0.72
